<% javascript_include_tag "league.js" %>
<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render "shared/navigation" %>

<div class=form>
  <% session['error'].each do |value| %>
    <p><%= value %></p>
  <% end %>
  <%=form_for :league do |f| %>
    <div id='names'>
      <h4>Teams</h4>
    </div>
    <div id='tbfunction'>
      <button onClick='addBox()'>Add</button>
    </div>
    <div id='start_date'>
      <%= f.label('start date:') %>
      <%= date_select :start_date, :start %>
    </div>
    <%= f.submit :submit %>
  <% end %>
  <div>
</div>

<script>
  document.getElementById('names').appendChild(genDiv());
</script>
