<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render "shared/navigation" %>

<div class=form>
  <% session['error'].each do |value| %>
    <p><%= value %></p>
  <% end %>
  <%=form_for :league do |f| %>
    <h4>Teams</h4>
    <div id='names'>
      <!-- text boxes added here via javascript -->
    </div>
    <div id='start_date'>
      <%= f.label('start date:') %>
      <%= date_select :start_date, :start %>
    </div>
    <%= f.submit :submit %>
  <% end %>
  <button onClick=addBox()>Add Field</button>
  <button onClick=removeBox()>Remove Field</button>
  <div>
</div>

<script>
  addBox();
  addBox();
</script>
