<%= javascript_include_tag('calendar.js') %>

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Week 1')" id="defaultOpen">Week 1</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Week 2')">Week 2</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Week 3')">Week 3</a></li>
</ul>

<body>
<div id="Week 1" class = "tabcontent">
  <table>
	<tr>
      <th>Team 1</th>
	  <th>Team 2</th>
	  <th>Date</th>
	</tr>
	<tr>
	  <td>Kennesaw State Owls</td>
	  <td>Georgia State Panthers</td>
	  <td>October 21, 2016</td>
	  <td><%= button_to "score", team_scoring_teamScoring_path, :class => "button", :method => :get%></td>
	</tr>
	<tr>
	  <td>Georgia Bulldogs</td>
	  <td>Georgia Tech Yellow Jackets</td>
	  <td>October 21, 2016</td>
	  <td><%= button_to "score", team_scoring_teamScoring_path, :class => "button", :method => :get%></td>
	</tr>
	<tr>
	  <td>West Georgia</td>
	  <td>Columbus State</td>
	  <td>October 21, 2016</td>
	  <td><%= button_to "score", team_scoring_teamScoring_path, :class => "button", :method => :get%></td>
	</tr>
	<tr>
	  <td>GCSU</td>
	  <td>Middle Georgia College</td>
	  <td>October 21, 2016</td>
	  <td><%= button_to "score", team_scoring_teamScoring_path, :class => "button", :method => :get%></td>
	</tr>
  </table>
</div>

<div id="Week 2" class = "tabcontent">
  <table>
	<tr>
	  <th>Team 1</th>
	  <th>Team 2</th>
	  <th>Date</th>
	</tr>
	<tr>
	  <td>Kennesaw State Owls</td>
	  <td>Georgia Bulldogs</td>
	  <td>October 28, 2016</td>
	</tr>
	<tr>
	  <td>Georgia State Panthers</td>
	  <td>Georgia Tech Yellow Jackets</td>
	  <td>October 28, 2016</td>
	</tr>
	<tr>
	  <td>GCSU</td>
	  <td>Columbus State</td>
	  <td>October 28, 2016</td>
	</tr>
	<tr>
	  <td>West Georgia</td>
	  <td>Middle Georgia College</td>
	  <td>October 28, 2016</td>
	</tr>
  </table>
</div>

<div id="Week 3" class = "tabcontent">
  <table>
	<tr>
	  <th>Team 1</th>
	  <th>Team 2</th>
	  <th>Date</th>
	</tr>
	<tr>
	  <td>GCSU</td>
	  <td>Georgia State Panthers</td>
	  <td>November 4, 2016</td>
	</tr>
	<tr>
	  <td>Kennesaw State Owls</td>
	  <td>Georgia Tech Yellow Jackets</td>
	  <td>November 4, 2016</td>
	</tr>
	<tr>
	  <td>Georgia Bulldogs</td>
	  <td>Columbus State</td>
	  <td>November 4, 2016</td>
	</tr>
	<tr>
	  <td>Kennesaw State University</td>
	  <td>Middle Georgia College</td>
	  <td>November 4, 2016</td>
	</tr>
  </table>
</div>
