<!-- Because this is a shared html file, the logic must be self contained -->
<!-- We made a decision to break best practice with this bit of code and  -->
<!-- are including logic in this html file using embeded ruby.            -->

<% require 'set' %>
<% dates = Set.new %>
<% Schedule.all.each do |match| %>
  <% dates << match.date %>
<% end %>
<% today = DateTime.now %>


<% logged_in = false %>
<% unless session[:user_id].nil? %>
  <% logged_in = true %>
  <% unless Referee.find_by(id: session[:user_id]).nil? %>
    <% level = Referee.find_by(id: session[:user_id]).level %>
  <% end %>
<% end %>

<ul class="tab">
  <% previous_day = DateTime.new %>
  <% dates.each do |date| %>
    <% formated_date = "#{date.month}/#{date.day}/#{date.year}" %>
      <% default = '' %>
    <% if previous_day < today and date >= today %>
      <% default = 'defaultOpen' %>
    <% end %>
    <li><a href="javascript:void(0)" id = '<%= default %>' class="tablinks" onclick="openWeek(event, 
    '<%= formated_date %>')"><%= formated_date %></a></li>
  <% end %>
</ul>

<body>
<% dates.each_with_index do |date, i| %>
  <% formated_date = "#{date.month}/#{date.day}/#{date.year}" %>
  <div id=<%= formated_date %> class="tabcontent">
    <table>
      <tr>
        <th> Team 1</th>
	<th> Team 1 Score</th>
        <th> Team 2</th>
        <th> Team 2 Score</th>
      </tr>
        <% Schedule.where(date: date).each do |match| %>
          <% unless match.team1_id.nil? or match.team2_id.nil? %>
	    <tr>
	     <!-- team 1 -->
	    <td>
	      <%= Team.where(id: match.team1_id).pluck('name')[0] %>
	    </td>
            <!-- team 1 score -->
            <td>
              <%= match.team1_score %>
            </td>
            <!-- team2 -->
	    <td>
	      <%= Team.where(id: match.team2_id).pluck('name')[0] %>
	    </td> 
	    <!-- team 2 score -->
	    <td>
              <%= match.team2_score %>
	    </td> 
            <!-- score button -->
	    <% unless session[:user_id].nil?  %>
	      <% value = "score" %>
              <% disabled = false %>
	      <% if match.previously_scored.eql? 1 %>
	        <% if level.eql? 1 %>
	          <% value = "edit score" %>
		<% else %>
                  <% disable = true %>
		<% end %>
	      <% end %>
              <td>
                <%= button_to(value, 
	               team_scoring_teamScoring_path, 
                              :disabled => disable, 
                              :class => "button", 
                              :method => :get, 
                              :params => {
                                'id1': match.team1_id, 
                                'id2': match.team2_id, 
                                'match': match.id
                              }) %>
	        <% end %>
              </td>
	      <% if level.eql? 1 %>
	        <td>
	          <%= button_to("reschedule",
		                league_reschedule_url,
		                :method => :get,
				:params => {
				  'id1': match.team1_id,
				  'id2': match.team2_id,
				  'match': match.id
				})%>
	        </td>
              <% end %>
	    </tr>
	  <% end %>
	<% end %>
      </tr>
    </table>
  </div>
<% end %>
<script>
  document.getElementById("defaultOpen").click();
</script>
</body>
