<% require 'set' %>
<% dates = Set.new %>
<% Schedule.all.each do |match| %>
  <% dates << match.date %>
<% end %>



<% logged_in = false %>
<% unless session[:user_id].nil? %>
  <% logged_in = true %>
  <% unless Referee.find_by(id: session[:user_id]).nil? %>
    <% level = Referee.find_by(id: session[:user_id]).level %>
  <% end %>
<% end %>

<ul class="tab">
  <% if dates.size > 0 %>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Week 1')" id="defaultOpen">Week 1</a></li>
  <% end %>
  <% (dates.size - 1).times do |i| %>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openWeek(event, 'Week <%= i + 2 %>')">Week <%=i+2%></a></li>
  <% end %>
</ul>

<body>
<% dates.each_with_index do |date, i| %>
  <div id="Week <%= i+1 %>" class="tabcontent">
    <table>
      <tr>
        <th> Team 1</th>
        <th> Team 1 Score</th>
        <th> Team 2</th>
        <th> Team 2 Score</th>
        <th> Date  </th>
      </tr>
        <% Schedule.where(date: date).each do |match| %>
          <% unless match.team1_id.nil? or match.team2_id.nil? %>
            <tr>
             <!-- team 1 -->
            <td>
            <%= Team.where(id: match.team1_id).pluck('name')[0] %>
            </td>
                        <!-- team 1 score -->
                <td>
                <%= match.team1_score %>
                </td>
            <!-- team2 -->
            <td>
            <%= Team.where(id: match.team2_id).pluck('name')[0] %>
            </td> 
                        <!-- team 2 score -->
                <td>
                <%= match.team2_score %>
                </td>
            <!-- date -->
            <td>
            <%= "#{date.month}/#{date.day}/#{date.year}" %>
            </td> 
                        <!-- scores -->
                <td>
                
            <% if session[:user_id].nil?  %>
                <% elsif match.previously_scored.nil? %>
              <td>
              <%= button_to "score", team_scoring_teamScoring_path, :class => "button", :method => :get, :params => {'id1': match.team1_id, 'id2': match.team2_id, 'match': match.id}%>
              </td>
                <% elsif match.previously_scored.eql? 1 and level.eql? 1 %>
                  <td>
                  <%= button_to "edit score", team_scoring_teamScoring_path, :class => "button", :method => :get, :params => {'id1': match.team1_id, 'id2': match.team2_id, 'match': match.id}%>
                  </td>
            <% end %>
                
            </tr>
          <% end %>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>
<script>
  document.getElementById("defaultOpen").click();
</script>
</body>
