
<div id='navigation'>
  <ul>
    <li><%= link_to "Home", controller: "home", action: "index" %></li>
    <li><%= link_to "Teams", controller: 'teams', action: 'all' %></li>
    <% if session[:user_id].nil? %>
      <li><%= link_to "Login", controller: "login", action: "login" %></li>
    <% else %>
      <li><%= link_to "League", controller: 'league', 'action': 'create' %> </li>
      <li><%= link_to "Log Out", controller: "login", action: "logout" %></li>
    <% end %>
  </ul>
</div>
