<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render 'shared/navigation' %>

<div id=login class=form>
  <% if session['created'] %>
    <p>user created successfully</p>
  <% end %>
  <% session[:error].each do |error| %>
    <p><%= error %></p>
  <% end %>
  <%= form_for :new do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label 'retype password' %><br>
    <%= f.password_field :password2 %><br>
    <%= f.label "referee level" %>
    <%= select(:level, :user_level, [['0', 0], ['1', 1]]) %><br>
    <%= f.submit :new %>
  <% end %>
</div>
