<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render 'shared/navigation' %>
<div id=login>
  <%= form_for :login, url: {action: 'submit'} do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.text_field :password %><br>
    <%= f.submit :login %>
  <% end %>
</div>
