<%= stylesheet_link_tag 'general.css', 'login.css' %>
<%= render 'shared/navigation' %>
<div id=login>
  <%= form_for :login do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.text_field :password %><br>
    <%= f.submit :login %>
  <% end %>
</div>
