<div id=title>
  <h1>Synergy Scheduling</h1>
</div>
<%= render 'shared/navigation' %>

<div id=match>
  <h1>Scores for <%= @team1.name %> vs. <%= @team2.name %></h1>
</div>

<div id=title>
  <%= form_for :scoring, url: '/team_scoring/score' do |f| %>
      <p>
      <table style="width:100%">
          <tr>
            <th>Criteria</th>
            <th><%= @team1.name %></th>
            <th><%= @team2.name %></th>
          </tr>
        <tr>
          <td>Style</td>
          <td><%= f.select :'Team1-Style', [0,1,2,3,4,5], :selected => @match.team1_style %></td>
          <td><%= f.select :'Team2-Style', [0,1,2,3,4,5], :selected => @match.team2_style %></td>
        </tr>
        <tr>
          <td>Presentation</td>
          <td><%= f.select :'Team1-Presentation', [0,1,2,3,4,5], :selected => @match.team1_presentation %></td>
          <td><%= f.select :'Team2-Presentation', [0,1,2,3,4,5], :selected => @match.team2_presentation %></td>
        </tr>
        <tr>
          <td>Understanding of Question</td>
          <td><%= f.select :'Team1-Understanding', [0,1,2,3,4,5], :selected => @match.team1_understanding %></td>
          <td><%= f.select :'Team2-Understanding', [0,1,2,3,4,5], :selected => @match.team2_understanding %></td>
        </tr>
        <tr>
          <td>Response</td>
          <td><%= f.select :'Team1-Response', [0,1,2,3,4,5], :selected => @match.team1_response %></td>
          <td><%= f.select :'Team2-Response', [0,1,2,3,4,5], :selected => @match.team2_response %></td>
        </tr>
      </table>

      </p>


      <p>
        <%= f.submit :Submit, :params => {'t1' => @team1, 't2' => @team2, 'match' => @match} %>
      </p>
  <% end %>
</div>
